{% extends 'base.html' %}
{% block title %} Dancers {% endblock %}
{% block content %}
    <h1 class="title pt-5">{{header}}</h1>  
    {% for dancer in dancers %}
    <a href="">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="{{dancer.img}}" alt="{{dancer.name}}" />
                </figure>
            </div>
            <div class="card-header">
                <p class="card-header-title">{{dancer.name}}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No Dancers Available</p>
        </div>
    </article>
    {% endfor %}
{% endblock %}