{% extends 'base.html' %}
{% block title %}{{dancer.name}}{% endblock %}
{% block content %}
<div class="detail__img">
    <img src="{{dancer.img}}" alt="{{dancer.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{dancer.name}}</h1>
</div>


<div class="detail__container">
    <form class="mb-5" action="{% url 'choreo_create' dancer.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="title"
                    placeholder="Title"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="vid"
                    placeholder="Youtube Link"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="embed"
                    placeholder="Youtube embeded code"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Choreo" />
            </div>
        </div>
    </form>
    <!-- inside container -->
    <div class="detail__choreos mb-5">
        <h3 class="title is-3">Performances</h3>

    {% for choreo in dancer.choreo.all %}
        <div class="choreo">
            <span>{{forloop.counter}}</span>
            <span><b>{{choreo.title}}</b></span>
            <span><a href="{{choreo.vid}}">Link</a></span>
            <span>
                <div class="dropdown">
                  <div class="dropdown-trigger">
                    <button
                      class="button"
                      aria-haspopup="true"
                      aria-controls="dropdown-menu"
                    >
                      <span>Add to Playlist</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      {% for playlist in playlists %}
                  <!-- each playlist becomes a drop
                  down item with the ids needed to add to the join table  -->
                      <a
                        href="{% url 'playlist_choreo_assoc' playlist.pk choreo.pk %}?assoc=add"
                        class="dropdown-item"
                      >
                        {{playlist.title}}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </span>
        </div>
	{% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Vids Available</p>
            </div>
        </article>
    {% endfor %}
    </div>
<!--  above about section  -->
    <div class="buttons">
        <a href="{% url 'dancer_update' dancer.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'dancer_delete' dancer.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{dancer.bio}}</p>
    </div>
</div>

{% endblock %}