{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- <form class="mb-5" method="get"> -->
    <form class="mb-5" action="" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="title"
                    placeholder="Title"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="user_id"
                    placeholder="User"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Playlist" />
            </div>
        </div>
    </form>

    <div class="home__playlists">
        {% for playlist in playlists %}
            <div class="playlist mb-5">
                <h3 class="title is-3 has-text-success">{{playlist.title}}</h3>
                <hr />

                {% for choreo in playlist.choreos.all %}

                    <div class="choreo">
                        <span>{{forloop.counter}}</span>
                        <span><b>{{choreo.title}}</b></span>
                        <span><a href="{{choreo.vid}}" target="_blank">Link</a></span>
                        <span>
                            <a href="{% url 'playlist_choreo_assoc' playlist.pk choreo.pk %}?assoc=remove" class="button is-danger is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                            </a>
                        </span>
                    </div>

                {% endfor %}
            </div>
        {% empty %} 
            <div class="playlist mb-5">"There are no videos in this playlist"</div>
        {% endfor %}
    </div>
{% endblock %}